Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/appsettings.Development.json
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/appsettings.json
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Azure.Core.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Azure.Identity.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Humanizer.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.Identity.Client.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.OpenApi.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Mono.TextTemplating.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/SkyGuru.Api.deps.json
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/SkyGuru.Api.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/SkyGuru.Api.exe
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/SkyGuru.Api.pdb
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/SkyGuru.Api.runtimeconfig.json
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.CodeDom.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Composition.AttributedModel.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Composition.Convention.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Composition.Hosting.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Composition.Runtime.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Composition.TypedParts.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Drawing.Common.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Memory.Data.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Runtime.Caching.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Security.Permissions.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/System.Windows.Extensions.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
Solution/Server/SkyGuru/SkyGuru.Api/obj/project.assets.json
Solution/Server/SkyGuru/SkyGuru.Api/obj/project.nuget.cache
Solution/Server/SkyGuru/SkyGuru.Api/obj/SkyGuru.Api.csproj.nuget.dgspec.json
Solution/Server/SkyGuru/SkyGuru.Api/obj/SkyGuru.Api.csproj.nuget.g.props
Solution/Server/SkyGuru/SkyGuru.Api/obj/SkyGuru.Api.csproj.nuget.g.targets
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/apphost.exe
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.assets.cache
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.csproj.AssemblyReference.cache
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.csproj.CopyComplete
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.csproj.CoreCompileInputs.cache
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.csproj.FileListAbsolute.txt
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.dll
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.genruntimeconfig.cache
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.MvcApplicationPartsAssemblyInfo.cache
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.MvcApplicationPartsAssemblyInfo.cs
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.pdb
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/SkyGuru.Api.sourcelink.json
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/staticwebassets.build.json
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/ref/SkyGuru.Api.dll
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/refint/SkyGuru.Api.dll
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.SkyGuru.Api.props
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.SkyGuru.Api.props
Solution/Server/SkyGuru/SkyGuru.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.SkyGuru.Api.props
Solution/.vs/ProjectEvaluation/skyguru.metadata.v7.bin
Solution/.vs/ProjectEvaluation/skyguru.projects.v7.bin
Solution/.vs/SkyGuru/DesignTimeBuild/.dtbcache.v2
Solution/.vs/SkyGuru/FileContentIndex/8d432629-7315-4e17-9ff1-c9851db85289.vsidx
Solution/.vs/SkyGuru/FileContentIndex/62d59869-3099-4fd0-84a4-07450e5d2703.vsidx
Solution/.vs/SkyGuru/FileContentIndex/821e429b-bb04-42dd-a4aa-9f5b8f2f1e99.vsidx
Solution/.vs/SkyGuru/FileContentIndex/71598aa0-d35a-43e6-b5c6-377e62dbd49a.vsidx
Solution/.vs/SkyGuru/FileContentIndex/b33b9b09-8172-4ced-8b2f-7d7e549cc1a2.vsidx
Solution/.vs/SkyGuru/FileContentIndex/bf434e8b-4283-4574-bf38-358f0ba53417.vsidx
Solution/.vs/SkyGuru/FileContentIndex/cca85f0f-3ad4-48d2-99da-f9cd9c216b76.vsidx
Solution/.vs/SkyGuru/FileContentIndex/e3c416ef-8f54-4959-9cca-3a3b72345260.vsidx
Solution/.vs/SkyGuru/v17/.futdcache.v2
Solution/.vs/SkyGuru/v17/.suo
Solution/.vs/ProjectEvaluation/skyguru.metadata.v7.bin
Solution/.vs/ProjectEvaluation/skyguru.projects.v7.bin
Solution/.vs/SkyGuru/DesignTimeBuild/.dtbcache.v2
Solution/.vs/SkyGuru/FileContentIndex/62d59869-3099-4fd0-84a4-07450e5d2703.vsidx
Solution/.vs/SkyGuru/FileContentIndex/71598aa0-d35a-43e6-b5c6-377e62dbd49a.vsidx
Solution/.vs/SkyGuru/FileContentIndex/b33b9b09-8172-4ced-8b2f-7d7e549cc1a2.vsidx
Solution/.vs/SkyGuru/FileContentIndex/e3c416ef-8f54-4959-9cca-3a3b72345260.vsidx
Solution/.vs/SkyGuru/v17/.futdcache.v2
Solution/.vs/SkyGuru/v17/.suo
Solution/Server/SkyGuru/SkyGuru.Shared.EF/bin/Debug/net8.0/SkyGuru.Shared.EF.deps.json
Solution/Server/SkyGuru/SkyGuru.Shared.EF/bin/Debug/net8.0/SkyGuru.Shared.EF.dll
Solution/Server/SkyGuru/SkyGuru.Shared.EF/bin/Debug/net8.0/SkyGuru.Shared.EF.pdb
Solution/Server/SkyGuru/SkyGuru.Entity/bin/Debug/net8.0/SkyGuru.Entity.deps.json
Solution/Server/SkyGuru/SkyGuru.Entity/bin/Debug/net8.0/SkyGuru.Entity.dll
Solution/Server/SkyGuru/SkyGuru.Entity/bin/Debug/net8.0/SkyGuru.Entity.pdb
Solution/Server/SkyGuru/SkyGuru.Entity/bin/Debug/net8.0/SkyGuru.Entity.runtimeconfig.json
Solution/Server/SkyGuru/SkyGuru.Entity/obj/project.assets.json
Solution/Server/SkyGuru/SkyGuru.Entity/obj/project.nuget.cache
Solution/Server/SkyGuru/SkyGuru.Entity/obj/SkyGuru.Entity.csproj.nuget.dgspec.json
Solution/Server/SkyGuru/SkyGuru.Entity/obj/SkyGuru.Entity.csproj.nuget.g.props
Solution/Server/SkyGuru/SkyGuru.Entity/obj/SkyGuru.Entity.csproj.nuget.g.targets
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/SkyGuru.Entity.AssemblyInfo.cs
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/SkyGuru.Entity.assets.cache
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/SkyGuru.Entity.csproj.AssemblyReference.cache
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/SkyGuru.Entity.csproj.CoreCompileInputs.cache
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/SkyGuru.Entity.csproj.FileListAbsolute.txt
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/SkyGuru.Entity.dll
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/SkyGuru.Entity.genruntimeconfig.cache
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/SkyGuru.Entity.pdb
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/SkyGuru.Entity.sourcelink.json
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/ref/SkyGuru.Entity.dll
Solution/Server/SkyGuru/SkyGuru.Entity/obj/Debug/net8.0/refint/SkyGuru.Entity.dll
