<div class="container" [style]="getView('bg')">
    <section>

        <header>
            
            <!-- Logo -->
            <code><img src="../../assets/svg/logo.svg">SkyGuru</code>

            <!-- Weather Icon -->
            <img [src]="getView('icon')">
        </header>

        <div class="row">

            <!-- Weather Info -->
            <div class="col">
                <p *ngIf="selectedUnit.type == 'Celcius'">{{getTemp(weatherForecast.temperature)}}°</p>
                <p *ngIf="selectedUnit.type == 'Fahrenheit'">{{celsiusToFahrenheit(weatherForecast.temperature)}}°</p>
                <div>
                    <p>{{ location }}</p>
                    <sub>{{getDate(weatherForecast.time)}}</sub>
                    <sub>{{ weatherStatus }}</sub>
                </div>
            </div>

            <!-- Temperature Unit -->
            <div class="unit">
                <label *ngFor="let i of unit" [class.selected]="i.selected">
                    <input type="radio" name="unit" [checked]="i.selected" (click)="toggleSelection(i)" [(ngModel)]="selectedUnit" [value]="i.type">
                    {{ i.type }}
                </label>
            </div>
        </div>
        
    </section>
    
    <section>
        
        <!-- Search -->
        <div class="search">
            <input type="text" placeholder="Location" [(ngModel)]="selectedLocation" (keyup.enter)="getWeatherForecast(selectedLocation)">
            <button (click)="getWeatherForecast(selectedLocation!)"><img src="../../assets/svg/search.svg"></button>
        </div>

        <!-- Weather Detail -->
        <div class="detail">
            <p>Weather Details</p>
            <p>Cloudy <span>{{weatherForecast.cloudcover}}%</span></p>
            <p>Humidity <span>{{weatherForecast.relativehumidity_2m}}%</span></p>
            <p>Wind <span>{{weatherForecast.windspeed_10m}} km/h</span></p>
            <p>Rain <span>{{weatherForecast.rain}} mm</span></p>
        </div>
        
        <hr>
        
        <!-- Bar Chart -->
        <div class="bar">
            <p>Temperature</p>
            <app-bar></app-bar>
        </div>
    </section>
</div>