<div class="container">
    <section>

        <!-- Logo -->
        <code><img src="../../assets/svg/logo.svg">SkyGuru</code>

        <div class="row">

            <!-- Weather Info -->
            <div class="col">
                <p>{{getTemp(weatherForecast.temperature)}}°</p>
                <div>
                    <p>{{ weatherForecast.location }}</p>
                    <sub>{{ weatherForecast.time | date: 'dd.MM.yyyy' }}</sub>
                    <sub>{{ weatherIcon }}</sub>
                </div>
            </div>

            <!-- Temperature Unit -->
            <div class="unit">
                <span *ngFor="let i of unit" (click)="toggleSelection(i)" [ngClass]="{'selected': i.selected}">{{i.type}}</span>
            </div>
        </div>
        
    </section>
    
    <section>
        
        <!-- Search -->
        <div class="search">
            <input type="text" placeholder="Location">
            <img src="../../assets/svg/search.svg">
        </div>

        <!-- Weather Detail -->
        <div class="detail">
            <p>Weather Details</p>
            <p>Cloudy <span>{{weatherForecast.cloudcover}}%</span></p>
            <p>Humidity <span>{{detail.humidity}}%</span></p>
            <p>Wind <span>{{weatherForecast.windspeed_10m}}km/h</span></p>
            <p>Weather <span>{{detail.weather}}mm</span></p>
        </div>
        
        <hr>
        
        <!-- Bar Chart -->
        <div class="bar">
            <p>Temperature</p>
            <app-bar></app-bar>
        </div>
    </section>
</div>